@tailwind base;
@tailwind components;
@tailwind utilities;

@import "style";

/* Custom styles */
@layer components {
  #pPhoto {
    mask-image: linear-gradient(black 80%, transparent);
    -webkit-mask-image: linear-gradient(black 80%, transparent);
  }

  .aspect-w-16 {
    position: relative;
    padding-bottom: 56.25%;
  }
  
  .aspect-w-16 > * {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}